= form_with(model: admin_amenity, url: admin_amenities_path) do |form|
  - if admin_amenity.errors.any?
    #error_explanation
      %h2
        = pluralize(amenity.errors.count, "error")
        prohibited this admin_amenity from being saved:
      %ul
        - amenity.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :kind
    = form.number_field :kind
  .field
    = form.label :active
    = form.check_box :active
  .actions
    = form.submit
