<div class="row mx-0 align-items-center">
  <div class="col-md-6 border-end-md p-4 p-sm-5">
    <h2 class="h3 mb-4 mb-sm-5">Únete a MetroCuadrado.<br>Y obtiene múltiples beneficios:</h2>
    <ul class="list-unstyled mb-4 mb-sm-5">
    <li class="d-flex mb-2"><i class="fi-check-circle text-primary mt-1 me-2"></i><span>Add and promote your listings</span></li>
    <li class="d-flex mb-2"><i class="fi-check-circle text-primary mt-1 me-2"></i><span>Easily manage your wishlist</span></li>
    <li class="d-flex mb-0"><i class="fi-check-circle text-primary mt-1 me-2"></i><span>Leave reviews</span></li>
    <%= image_pack_tag 'media/stylesheets/img/login/sign_up.svg', class: 'd-block mx-auto' %>
  </div>
  <div class="col-md-6 px-4 pt-2 pb-4 px-sm-5 pb-sm-5 pt-md-5">
    <a class="btn btn-outline-info w-100 mb-3" href="#"><i class="fi-google fs-lg me-1"></i>Regístrate con Google</a>
    <a class="btn btn-outline-info w-100 mb-3" href="#"><i class="fi-facebook fs-lg me-1"></i>Regístrate con Facebook</a>
    <div class="d-flex align-items-center py-3 mb-3">
    <hr class="w-100">
    <div class="px-3">O</div>
    <hr class="w-100">
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-4">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Ingresa tu nombre' %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: 'form-label' %>
        <%= f.text_field :last_name,  class: 'form-control', placeholder: 'Ingresa tu apellido' %>
      </div>

      <div class="mb-4">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Ingresa tu correo' %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: 'form-label' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
        <div class="password-toggle">
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
          </label>
        </div>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: 'form-label' %><br />
        <div class="password-toggle">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
          </label>
        </div>
      </div>

      <div class="form-check mb-4">
        <label class="form-check-label" for="agree-to-terms">Registrándote, estás aceptando los <a href='#'>Términos de uso</a> y <a href='#'>Políticas de privacidad.</a></label>
        <%= f.check_box :terms_condition, class: 'form-check-input' %>
      </div>
      
      <%= f.submit "Registrarse", class: 'btn btn-primary btn-lg w-100' %>
    <% end %>
  </div>
</div>