<p id="notice"><%= notice %></p>

<h1>Admin Faqs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_faqs.each do |admin_faq| %>
      <tr>
        <td><%= link_to 'Show', admin_faq %></td>
        <td><%= link_to t('common.edit'), edit_admin_faq_path(admin_faq) %></td>
        <td><%= link_to t('common.destroy'), admin_faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Faq', new_admin_faq_path %>
