<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :bio, class: 'form-label' %>
    <%= form.text_area :bio,
            class: 'form-control',
            placeholder: 'Escribe tu bio aquí. Esto se mostrará de manera pública a posibles clientes',
            rows: 6
            %>
  </div>

  <div class="border rounded-3 p-3 mb-4" id="personal-info">
    <!-- Name -->
    <div class="border-bottom pb-3 mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <div class="pe-2">
          <label class="form-label fw-bold">Nombre</label>
          <div id="name-value"><%= current_user.name %></div>
        </div>
        <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#name-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
      </div>
      <div class="collapse" id="name-collapse" data-bs-parent="#personal-info">
        <%= form.text_field :name, class: 'form-control mt-3' %>
      </div>
    </div>
    <!-- Last Name -->
    <div class="border-bottom pb-3 mb-3">
      <div class="d-flex align-items-center justify-content-between">
        <div class="pe-2">
          <label class="form-label fw-bold">Apellido</label>
          <div id="name-value"><%= current_user.last_name %></div>
        </div>
        <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#last_name-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
      </div>
      <div class="collapse" id="last_name-collapse" data-bs-parent="#personal-info">
        <%= form.text_field :last_name, class: 'form-control mt-3' %>
      </div>
    </div>

    <!-- Email -->
    <div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="pe-2">
          <label class="form-label fw-bold">Email</label>
          <div id="name-value"><%= current_user.email %></div>
        </div>
        <div class="me-n3" data-bs-toggle="tooltip" title="Edit"><a class="nav-link py-0" href="#email-collapse" data-bs-toggle="collapse"><i class="fi-edit"></i></a></div>
      </div>
      <div class="collapse" id="email-collapse" data-bs-parent="#personal-info">
        <%= form.text_field :email, class: 'form-control mt-3', readonly: true %>
      </div>
    </div>
  </div>

  <!-- Socials-->
  <div class="pt-2">
    <label class="form-label fw-bold mb-3">Socials</label>
  </div>
  <div class="d-flex align-items-center mb-3">
    <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-facebook text-body"></i></div>
    <input class="form-control" type="text" placeholder="Your Facebook account">
  </div>
  <div class="d-flex align-items-center mb-3">
    <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-linkedin text-body"></i></div>
    <input class="form-control" type="text" placeholder="Your LinkedIn account">
  </div>
  <div class="d-flex align-items-center mb-3">
    <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-twitter text-body"></i></div>
    <input class="form-control" type="text" placeholder="Your Twitter account">
  </div>
  <div class="collapse" id="showMoreSocials">
    <div class="d-flex align-items-center mb-3">
      <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-instagram text-body"></i></div>
      <input class="form-control" type="text" placeholder="Your Instagram account">
    </div>
    <div class="d-flex align-items-center mb-3">
      <div class="btn btn-icon btn-light btn-xs shadow-sm rounded-circle pe-none flex-shrink-0 me-3"><i class="fi-pinterest text-body"></i></div>
      <input class="form-control" type="text" placeholder="Your Pinterest account">
    </div>
  </div><a class="collapse-label collapsed d-inline-block fs-sm fw-bold text-decoration-none pt-2 pb-3" href="#showMoreSocials" data-bs-toggle="collapse" data-bs-label-collapsed="Mostrar más" data-bs-label-expanded="Mostrar menos" role="button" aria-expanded="false" aria-controls="showMoreSocials"><i class="fi-arrow-down me-2"></i></a>
  
  <div class='form-check'>
    <%= form.label :terms_condition, class: 'form-check-label' %>
    <%= form.check_box :terms_condition, class: 'form-check-input', disabled: true %>
  </div>

  <div class='form-check'>
    <%= form.label :notification_ofert, class: 'form-check-label' %>
    <%= form.check_box :notification_ofert, class: 'form-check-input' %>
  </div>

  <div class='d-flex align-items-center justify-content-between border-top mt-4 pt-4 pb-1'>
    <%= form.submit "Guardar", class: 'btn btn-primary px-3 px-sm-4' %>
  </div>
<% end %>
