<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Terms condition</th>
        <th>Notification ofert</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.terms_condition %></td>
          <td><%= user.notification_ofert %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New User', new_user_path %>
