<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Terms condition:</strong>
  <%= @user.terms_condition %>
</p>

<p>
  <strong>Notification ofert:</strong>
  <%= @user.notification_ofert %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
