%p#notice= notice
%p
  %strong Name:
  = @user.name
%p
  %strong Last name:
  = @user.last_name
%p
  %strong Terms condition:
  = @user.terms_condition
%p
  %strong Notification ofert:
  = @user.notification_ofert
= link_to t('common.edit'), edit_user_path(@user)
|
= link_to t('common.back'), users_path
