<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_offer %>
    <%= form.number_field :type_offer %>
  </div>

  <div class="field">
    <%= form.label :property_type %>
    <%= form.number_field :property_type %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.text_field :city_id %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.number_field :currency %>
  </div>

  <div class="field">
    <%= form.label :views %>
    <%= form.number_field :views %>
  </div>

  <div class="field">
    <%= form.label :property_detail_id %>
    <%= form.text_field :property_detail_id %>
  </div>

  <div class="field">
    <%= form.label :expired_date %>
    <%= form.date_select :expired_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
