<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="character-counter">
  <textarea data-character-counter-target="input"></textarea>

  <p>
    There are <strong data-character-counter-target="counter"></strong> characters in this textarea.
  </p>
</div>

  <!-- Basic info-->
  <section class="card card-body border-0 shadow-sm p-4 mb-4" id="basic-info">
    <h2 class="h4 mb-4"><i class="fi-info-circle text-primary fs-5 mt-n1 me-2"></i>Información Básica</h2>
    <div class="mb-3" data-controller="character-counter">
      <%= form.label :title, class: 'form-label' %><%= required_span %>
      <%= form.text_field :title, 
        class: 'form-control',
        placeholder: 'Ejemplo: Penthouse de Lujo',
        autocomplete: 'off',
        style: 'width: 100%',
        data: { character_counter_target: 'input' },
        maxlength: Property::MAX_TITLE_LENGTH %>
        <strong data-character-counter-target="counter"></strong>/<%= Property::MAX_TITLE_LENGTH %> caracteres
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3">
        <%= form.label :type_offer, class: 'form-label', for: 'ap-type_offer' %><%= required_span %>
        <%= form.select :type_offer, options_for_select(Property.type_offers.map {|key, value| [key.titleize, Property.type_offers.key(value)]}, @property.type_offer), {}, class: 'form-select' %>
      </div>
      <div class="col-sm-6 mb-3">
        <%= form.label :property_type, class: 'form-label' %><%= required_span %>
        <%= form.select :property_type, options_for_select(Property.property_types.map {|key, value| [key.titleize, Property.property_types.key(value)]}, @property.property_type), {}, class: 'form-select' %>
      </div>
    </div>
  </section>

  <!-- Location-->
  <section class="card card-body border-0 shadow-sm p-4 mb-4" id="location">
    <h2 class="h4 mb-4"><i class="fi-map-pin text-primary fs-5 mt-n1 me-2"></i>Ubicación</h2>
    <div class="row">
      <div class="col-sm-6 mb-3">
        <%= form.label :city_id, class: 'form-label' %>
        <%= form.select :city_id, City.all.collect { |c| [c.name, c.id] }, {include_blank: 'Selecciona la ciudad'}, class: 'form-select' %>
      </div>
      <div class="col-sm-6 mb-3">
        <%= form.label :neighborhood, class: 'form-label' %>
        <%= form.text_field :neighborhood, class: 'form-control' %>
      </div>
    </div>
    <div class="mb-3">
      <%= form.label :address, class: 'form-label' %>
      <%= form.text_area :address, class: 'form-control' %>
    </div>
    <div class="form-label fw-bold pt-3 pb-2">Display on the map</div>
    <div class="interactive-map rounded-3" data-map-options="{&quot;mapLayer&quot;: &quot;https://api.maptiler.com/maps/pastel/{z}/{x}/{y}.png?key=5vRQzd34MMsINEyeKPIs&quot;, &quot;coordinates&quot;: [40.7447, -73.9485], &quot;zoom&quot;: 13, &quot;scrollWheelZoom&quot;: false, &quot;markers&quot;: [{&quot;coordinates&quot;: [40.7447, -73.9485], &quot;className&quot;: &quot;custom-marker-dot&quot;, &quot;popup&quot;: &quot;&lt;div class='p-3'&gt;&lt;h6 class='fs-base'&gt;Pine Apartments&lt;/h6&gt;&lt;p class='fs-xs text-muted pt-1 mt-n3 mb-0'&gt;28 Jackson Ave Long Island City, NY&lt;/p&gt;&lt;/div&gt;&quot;}]}" style="height: 250px;"></div>
  </section>

  <!-- Property details-->
  <section class="card card-body border-0 shadow-sm p-4 mb-4" id="details">
    <h2 class="h4 mb-4"><i class="fi-edit text-primary fs-5 mt-n1 me-2"></i>Detalles de la propiedad</h2>
    <%= form.fields_for :property_detail do |detail| %>
      <div class="mb-4" style="max-width: 25rem;">
        <%= detail.label :area, class: 'form-label' %>
        <%= detail.text_field :area, placeholder: 'Ingresa el área', class: 'form-control' %>
      </div>
      <div class="mb-4">
        <label class="form-label d-block fw-bold mb-2 pb-1">Dormitorios</label>
        <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bedrooms" data-toggle="buttons-radio">
          <%= detail.radio_button :bedrooms, 1 ,class: 'btn-check', id: 'bedrooms-1', :style=>"display:none;" %>
          <label for='bedrooms-1' class="btn btn-outline-secondary fw-normal" name="bedrooms">1</label>
          <%= detail.radio_button :bedrooms, 2 ,class: 'btn-check', id: 'bedrooms-2', :style=>"display:none;" %>
          <label for='bedrooms-2' class="btn btn-outline-secondary fw-normal" name="bedrooms">2</label>
          <%= detail.radio_button :bedrooms, 3 ,class: 'btn-check', id: 'bedrooms-3',:style=>"display:none;" %>
          <label for='bedrooms-3' class="btn btn-outline-secondary fw-normal" name="bedrooms">3</label>
          <%= detail.radio_button :bedrooms, 4 ,class: 'btn-check', id: 'bedrooms-4',:style=>"display:none;" %>
          <label for='bedrooms-4' class="btn btn-outline-secondary fw-normal" name="bedrooms">4</label>
          <%= detail.radio_button :bedrooms, 5 ,class: 'btn-check', id: 'bedrooms-5',:style=>"display:none;" %>
          <label for='bedrooms-5' class="btn btn-outline-secondary fw-normal" name="bedrooms">5+</label>
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label d-block fw-bold mb-2 pb-1">Baños</label>
        <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bedrooms" data-toggle="buttons-radio">
          <%= detail.radio_button :bathrooms, 1 ,class: 'btn-check', id: 'bathrooms-1', :style=>"display:none;" %>
          <label for='bathrooms-1' class="btn btn-outline-secondary fw-normal" name="bedrooms">1</label>
          <%= detail.radio_button :bathrooms, 2 ,class: 'btn-check', id: 'bathrooms-2', :style=>"display:none;" %>
          <label for='bathrooms-2' class="btn btn-outline-secondary fw-normal" name="bedrooms">2</label>
          <%= detail.radio_button :bathrooms, 3 ,class: 'btn-check', id: 'bathrooms-3',:style=>"display:none;" %>
          <label for='bathrooms-3' class="btn btn-outline-secondary fw-normal" name="bathrooms">3</label>
          <%= detail.radio_button :bathrooms, 4 ,class: 'btn-check', id: 'bathrooms-4',:style=>"display:none;" %>
          <label for='bathrooms-4' class="btn btn-outline-secondary fw-normal" name="bathrooms">4+</label>
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label d-block fw-bold mb-2 pb-1">Estacionamiento</label>
        <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bedrooms" data-toggle="buttons-radio">
          <%= detail.radio_button :parking, 1 ,class: 'btn-check', id: 'bedrooms-1', :style=>"display:none;" %>
          <label for='bedrooms-1' class="btn btn-outline-secondary fw-normal" name="bedrooms">1</label>
          <%= detail.radio_button :parking, 2 ,class: 'btn-check', id: 'bedrooms-2', :style=>"display:none;" %>
          <label for='bedrooms-2' class="btn btn-outline-secondary fw-normal" name="bedrooms">2</label>
          <%= detail.radio_button :parking, 3 ,class: 'btn-check', id: 'bathrooms-3',:style=>"display:none;" %>
          <label for='bathrooms-3' class="btn btn-outline-secondary fw-normal" name="bathrooms">3</label>
          <%= detail.radio_button :parking, 4 ,class: 'btn-check', id: 'bathrooms-4',:style=>"display:none;" %>
          <label for='bathrooms-4' class="btn btn-outline-secondary fw-normal" name="bathrooms">4+</label>
        </div>
      </div>
      <div class="mb-4">
        <label class="form-label d-block fw-bold mb-2 pb-1">Amenities</label>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="wifi" checked>
              <label class="form-check-label" for="wifi">WiFi</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="air-condition" checked>
              <label class="form-check-label" for="air-condition">Air conditioning</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="balcony">
              <label class="form-check-label" for="balcony">Balcony</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="garage">
              <label class="form-check-label" for="garage">Garage</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gym">
              <label class="form-check-label" for="gym">Gym</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="free-parking" checked>
              <label class="form-check-label" for="free-parking">Free parking</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="pets-friendly">
              <label class="form-check-label" for="pets-friendly">Pets-friendly</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="pool">
              <label class="form-check-label" for="pool">Pool</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="bar">
              <label class="form-check-label" for="bar">Bar</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="tv" checked>
              <label class="form-check-label" for="tv">TV</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="linens" checked>
              <label class="form-check-label" for="linens">Linens</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="heating" checked>
              <label class="form-check-label" for="heating">Heating</label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="dishwasher">
              <label class="form-check-label" for="dishwasher">Dishwasher</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="iron" checked>
              <label class="form-check-label" for="iron">Iron</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="hair-dryer" checked>
              <label class="form-check-label" for="hair-dryer">Hair dryer</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="kitchen" checked>
              <label class="form-check-label" for="kitchen">Kitchen</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="breakfast">
              <label class="form-check-label" for="breakfast">Breakfast</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="security-cameras">
              <label class="form-check-label" for="security-cameras">Security cameras</label>
            </div>
          </div>
        </div>
      </div>
      <div data-controller="character-counter">
        <%= detail.label :description, class: 'form-label' %>
        <%= detail.text_area :description,
          rows: 5,
          data: { controller: "textarea-autogrow", character_counter_target: 'input' },
          placeholder: 'Describe tu propiedad',
          class: 'form-control' %>
          <strong class="form-text" data-character-counter-target="counter"></strong>/1500 characters
      </div>
    <% end %>
  </section>

  <!-- Price-->
  <section class="card card-body border-0 shadow-sm p-4 mb-4" id="price">
    <h2 class="h4 mb-4"><i class="fi-cash text-primary fs-5 mt-n1 me-2"></i>Precio</h2>
    <%= form.label :price, class: 'form-label' %>
    <div class="d-sm-flex">
      <%= form.select :currency, options_for_select(Property.currencies.map {|key, value| [key.titleize, Property.currencies.key(value)]}, @property.currency), {}, class: 'form-select w-25 me-2 mb-2' %>
      <%= form.number_field :price, class: 'form-control w-100 me-2 mb-2' %>
    </div>
  </section>

  <div class="actions">
    <%= form.submit 'Guardar y Publicar' ,class: 'btn btn-primary' %>
  </div>
<% end %>