<div class="row">
  <div class="col-lg-4 col-md-5 pe-xl-4 mb-5">
    <%= render 'shared/profile' %>
  </div>
  <div class="col-lg-8 col-md-7 mb-5">
    <h1 class="h2">Mis propiedades</h1>

    <table>
      <thead>
        <tr>
          <th>Type offer</th>
          <th>Property type</th>
          <th>City</th>
          <th>Address</th>
          <th>User</th>
          <th>Price</th>
          <th>Currency</th>
          <th>Views</th>
          <th>Property detail</th>
          <th>Expired date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td><%= property.type_offer %></td>
            <td><%= property.property_type %></td>
            <td><%= property.city_id %></td>
            <td><%= property.address %></td>
            <td><%= property.user_id %></td>
            <td><%= property.price %></td>
            <td><%= property.currency %></td>
            <td><%= property.views %></td>
            <td><%= property.property_detail_id %></td>
            <td><%= property.expired_date %></td>
            <td><%= link_to 'Show', property %></td>
            <td><%= link_to t('common.edit'), edit_property_path(property) %></td>
            <td><%= link_to t('common.destroy'), property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Property', new_property_path %>
  </div>
</div>
