<p id="notice"><%= notice %></p>

<p>
  <strong>Type offer:</strong>
  <%= @property.type_offer %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @property.currency %>
</p>

<p>
  <strong>Views:</strong>
  <%= @property.views %>
</p>

<p>
  <strong>Property detail:</strong>
  <%= @property.property_detail_id %>
</p>

<p>
  <strong>Expired date:</strong>
  <%= @property.expired_date %>
</p>

<%= link_to t('common.edit'), edit_property_path(@property) %> |
<%= link_to t('common.back'), properties_path %>
