      <div class="border-top pt-4 mt-3"></div>

      <% resource.user_devices.each do |device| %>

        <h2 class="h5 pt-2 mb-4">Where you're signed in on</h2>
        <div class="d-flex border-bottom pb-3 mb-3"><i class="fi-device-desktop fs-5 text-muted me-1"></i>
          <div class="ps-2">
            <div class="fw-bold mb-1">Mac – New York, USA</div><span class="d-inline-block fs-sm text-muted border-end pe-2 me-2">Chrome</span><span class="fs-sm fw-bold text-success">Active now</span>
          </div>
        </div>
        <div class="d-flex border-bottom pb-3 mb-3"><i class="fi-device-mobile fs-5 text-muted me-1"></i>
          <div class="ps-2">
            <div class="fw-bold mb-1">iPhone 12 – New York, USA</div><span class="d-inline-block fs-sm text-muted border-end pe-2 me-2">Finder App</span><span class="fs-sm text-muted">20 hours ago</span>
          </div>
          <div class="align-self-center ms-auto">
            <div class="dropdown">
              <button class="btn btn-icon btn-light btn-xs rounded-circle shadow-sm" type="button" id="contextMenu1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fi-dots-vertical"></i></button>
              <ul class="dropdown-menu pb-3 my-1" aria-labelledby="contextMenu1">
                <li><a class="dropdown-item text-body" href="#">Not you?</a></li>
                <li><a class="d-block px-3" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <p>
          <%= device.properties['browser_name'] %>
          (<%= device.properties['browser_version'] %>)<br>
          <%= device.properties['os_name'] %>
          <%= device.updated_at %>
          <% if device.session_id == rack_session_id %>
            <strong><em>active</em></strong>
          <% else %>
            <%= link_to 'delete', { controller: 'user_devices', action: 'destroy', id: device.id } %>
          <% end %>
        </p>
      <% end %>