<div class="border-top pt-4 mt-3"></div>
  <h2 class="h5 pt-2 mb-4">Tus sesiones activas:</h2>
  <% resource.user_devices.each do |device| %>
    <div class="d-flex border-bottom pb-3 mb-3">
      <i class="fi-device-desktop fs-5 text-muted me-1"></i>
      <div class="ps-2">
        <div class="fw-bold mb-1"><%= device.properties['browser_name'] %> – <%= device.properties['os_name'] %></div>
        <span class="d-inline-block fs-sm text-muted border-end pe-2 me-2">
          <%= device.ip_address %>
        </span>
        <% if device.session_id == rack_session_id %>
          <span class="fs-sm fw-bold text-success">Activo ahora</span>
        <% else %>
          <span class="d-inline-block fs-sm text-muted border-end pe-2 me-2">
            <%= time_ago_in_words(device.updated_at) %>
          </span>
          <span class="d-inline-block fs-sm text-muted border-end pe-2 me-2">
            <%= button_to device, method: :delete, class: 'btn btn-outline-danger btn-icon' do %>
              <i class="fi-trash"></i>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>